rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 專案文檔規則
    match /projects/{projectId} {
      // 允許所有人讀取專案
      allow read: if true;
      
      // 允許所有人寫入專案
      allow write: if true;
    }
  }
}
